@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 249 225 156;
  --background-start-rgb: 249 225 156;
  --background-end-rgb: 249 225 156;
  --primary-rgb: 255, 214, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 249 225 156;
    --background-end-rgb: 249 225 156;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1B1A1F;
}

::-webkit-scrollbar-thumb:hover {
  background: #1B1A1F;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}